extends ../layout

block content
  .container
    .page-title Чек продажи №#{sale.id}
    .card
      p
        strong Дата: 
        | #{new Date(sale.created_at).toLocaleString('ru-RU')}
      p
        strong Кассир: 
        | #{sale.employee}
      if sale.customer
        p
          strong Покупатель: 
          | #{sale.customer}
      p
        strong Сумма: 
        | #{Number(sale.total).toFixed(2)} ₽
      if sale.discount_amt > 0
        p
          strong Скидка: 
          | #{Number(sale.discount_amt).toFixed(2)} ₽
      if sale.bonus_used > 0
        p
          strong Списано бонусов: 
          | #{sale.bonus_used}
      if sale.bonus_accrued > 0
        p
          strong Начислено бонусов: 
          | #{sale.bonus_accrued}

    .card
      h3 Товары в чеке
      table.table
        thead
          tr
            th Товар
            th Цена
            th Кол-во
            th Сумма
        tbody
          each item in items
            tr
              td= item.product_name
              td= Number(item.unit_price).toFixed(2) + ' ₽'
              td= item.quantity
              td= Number(item.quantity * item.unit_price).toFixed(2) + ' ₽'
              if item.prescription_id
                td
                  a.btn.btn-sm.btn-info(href=`/admin/prescriptions/${item.prescription_id}`) Рецепт

    // Блок привязанных рецептов (отдельно, если нужно собрать все уникальные)
    - const uniquePrescriptions = items.filter(i => i.prescription_id).map(i => i.prescription_id).filter((v,i,a)=>a.indexOf(v)===i);
    if uniquePrescriptions.length > 0
      .card
        h3 Привязанные рецепты
        each rxId in uniquePrescriptions
          p
            a.btn.btn-secondary.btn-sm(href=`/admin/prescriptions/${rxId}`) Рецепт №#{rxId}